<a href="https://colab.research.google.com/github/gita922/dwdm/blob/main/x.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
6+9

15

In [2]:
data = pd.read_excel('x.csv')

NameError: ignored

In [3]:
import pandas as pd

In [7]:
data=pd.read('x.csv')

AttributeError: ignored

# New Section

In [9]:
gita='https://raw.githubusercontent.com/gita922/dwdm/main/x.csv'

In [10]:
import pandas as pd

In [11]:
data =pd.read_csv(gita)

In [12]:
data

  ffhgfg  gfjhf  ghkhg
0  980-9    NaN    NaN